body, html {
    overflow: hidden;
}
ons-toolbar.navigation-bar {
    position: static!important;
}
ons-toolbar + .page__background + .page__content {
    top: 0!important;
}
ons-toolbar-button {
    position: absolute;
    z-index: 100000;
}
.toolbar-button {
    color: #F9BF45!important;
    font-size: 1.4em!important;
}
.navigation-bar__line-height {
    line-height: 150px;
}
ons-list.list.ons-list-inner {
    margin-top: 65px;
}



/* home */
#home .main {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/home/home.jpg");
}

.sm-slider {
    z-index: 100 !important;
    background: #000;
    display: none;
}

/* 眺望 */
#viewSimulator {
    position: absolute;
    overflow: hidden;
}
#viewSimulator .page__background {
    background: #000;
}
#viewPhotoCarousel {
    position: absolute;
    top: 25%;
    height: 50%;
}
#viewPhotoCarousel ons-carousel-item {
    height: 100%;
    background: #000;
}
#viewPhotoCarousel img {
    position: absolute;
}
.ons-carousel-item {
    overflow:hidden;
}
#viewFloorNumber {
    position: absolute;
    top: 25%;
    height: 50%;
    z-index: 100;
    background: rgba(0,0,0,0.6);
}
#viewFloorNumber ons-row {
    height: 18%;
    width: 30px;
    text-align: center;
    font-size: 80%;
    cursor:pointer;
}
#viewFloorNumber ons-row ons-col {
    margin: 0;
    padding: 0 0 0;
    opacity: 1;
    color: #fff;
}
#viewFloorNumber ons-row.current {
    background: rgba(255,255,255,0.8);
}
#viewFloorNumber ons-row.current ons-col {
    opacity:1;
    color: #000;
}
#viewSimulator .leftButton,
#viewSimulator .rightButton{
    position: fixed;
    top: 25%;
    width:100px;
    height: 50%;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}
#viewSimulator .leftButton:hover,
#viewSimulator .rightButton:hover{
    opacity: 1;
}
#viewSimulator .leftButton ons-icon,
#viewSimulator .rightButton ons-icon {
    position: absolute;
    top: 40%;
}
#viewSimulator .leftButton {
    left: 30px;
}
#viewSimulator .leftButton ons-icon {
    left: 30%;
}
#viewSimulator .rightButton {
    right: 0;
}
#viewSimulator .rightButton ons-icon {
    right: 30%;
}
#viewSimulator .bottom {
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #000;
}
#viewRader {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}
#viewRader .map {
    height: 100%;
    position: absolute;
    z-index: 110;
}
#viewRader .rader {
    height: 100%;
    position: absolute;
    z-index: 111;
}
#viewRader img {
    height: 100%;
}
#viewSimulator .bottom .danmen {
    position: absolute;
    height: 100%;
    right: 20px;
    top: 0;
    bottom: 0;
}

/* ムービー */
#movie .wrap {
    width: 100%;
    height: 100%;
    background: #000;
    text-align: center;
}
#movie video {
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

/* 間取り */
#plan .planSelect {
    position: absolute;
    bottom: 0;
    padding: 30px;
    z-index: 10;
}
#plan .planSelect select {
    outline:none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: 105%;
    color: inherit;
    /*-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;*/
}
#plan .planSelect option{
  background-color: #fff;
}
#plan .planbox {
    width: 50%;
    height: 100%;
    position: absolute;
}
#plan #planLeft {
    border-right: solid 1px #ddd;
    background: #fcfcfc!important;
    z-index: 100;
}
#plan #planRight {
    left: 50%;
    background: #fcfcfc!important;
}
#plan .planImages {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll!important;
    overflow-x: scroll!important;
    overflow-y: scroll!important;
}
#plan img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin : center center;
    transform: translate(-50%, -50%) scale(1);
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
}
#plan .scaleButton {
    position: absolute;
    padding: 5px 25px;
    margin: 15px;
    bottom: 0;
    right: 0;
    z-index: 10;
    border-radius: 50%;
    border: 1px solid #aaa;
    background: #fafafa;
    cursor: pointer;
}
#plan .scaleLevel {
    color: #000;
    z-index: 11;
    font-size: 110%;
}


/* ギャラリー */
.sp-caption-container {
    margin: 5px 0 5px 5px !important;
    text-align: left !important;
    font-size: 9px;
}

.ng-hide {
    display: none;
}

/* ロケーション */
#location .wrap {
    width: 100%;
    height: 100%;
    text-align: center;
    background: #000;
}